
 .dropzone {
        min-height: 600px;
        overflow-y: scroll;
        scrollbar-width: thin;
        border-right: 2px solid #ccc;
        border-left: 2px solid #ccc;
        padding: 15px
    }
    .card[draggable="true"] {
        cursor: grab;
    }